<h2>Records</h2>
<table class="table table-striped" style="border: 1px solid #ddd, align: center; text-align: center;">
  <tbody>
    <% @link_lists.each do |ll| %>
      <tr><td><%= link_to "#{ll.ext_id_type.upcase}: #{ll.ext_id}", ll %> (<%= link_to "Edit", edit_link_list_path(ll) %>)</tr></td>
    <% end %>
  </tbody>
</table>
<hr>
<div style="width: 50%; float: left;">
  <p style="font-weight: bold">Create a new linked list from scratch.</p>
  <%= link_to "Create New Link List", new_link_list_path, :class => 'btn btn-primary' %>
</div>
<div style="width: 50%; float: left;">
  <%= semantic_form_for :import_link_lists, :url => import_link_lists_path, :method => :post, :multipart => true do |f| %>
    <%= f.inputs do %>
      <%= f.input :xlsx, :as => :file, :label => "Import Link List from an excel file" %>
    <% end %>
    <%= f.actions do %>
      <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-primary' }, :label => 'Import' %>
    <% end %>
  <% end %>
</div>
<hr class="clearfix">
