<h2><%= @typed ? @typed.capitalize : 'All'%> Records</h2>
<% if current_user %>
  <div style="width: 50%; float: left;">
    <p style="font-weight: bold">Create a new linked list from scratch.</p>
    <%= link_to "Create New Link List", new_link_list_path, :class => 'btn btn-primary' %>
  </div>
  <div style="width: 50%; float: left;">
    <%= semantic_form_for :import_link_lists, :url => import_link_lists_path, :method => :post, :multipart => true do |f| %>
      <%= f.inputs do %>
        <%= f.input :xlsx, :as => :file, :label => "Import Link List from an excel file" %>
      <% end %>
      <%= f.actions do %>
        <%= f.action :submit, :as => :button, :button_html => { :class => 'btn btn-primary' }, :label => 'Import' %>
      <% end %>
    <% end %>
  </div>
  <hr class="clearfix">
<% end %>
<table class="table table-striped" style="border: 1px solid #ddd, align: center;">
  <tbody>
    <tr>
      <th>Title</th>
      <% unless @typed %>
        <th>External ID Type</th>
      <% end %>
      <th>Number of Records</th></tr>
    <% @link_lists.each do |ll| %>
      <tr>
        <td><%= link_to ll.comment.match(/(?<=Title: ).*?(?=\n)/).to_s, ll %><%== current_user && " (" << link_to("Edit", edit_link_list_path(ll)) << ")" %></td>
        <% unless @typed %>
          <td><%= ll.ext_id_type %></td>
        <% end %>
        <td><%= ll.links.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
