<% if current_user %>
  <ul class="controls">
    <li>
      <%= link_to link_list_path(@link_list, :format => 'csv'), :title => 'CSV Download', :class => 'btn btn-info' do %>
        Download CSV <%= glyphicon 'file' %></span>
      <% end %>
    </li>
    <li>
      <%= link_to edit_link_list_path(@link_list), :class => 'btn btn-primary' do %>
        Edit this record <%= glyphicon'pencil' %>
      <% end %>
    </li>
    <li><%= link_to "Delete this record", link_list_path(@link_list), :method => :delete, :class => 'btn btn-danger' %></li>
  </ul>
<% end %>
<div class="metadata">
  <div class="image"><%= image_tag @link_list.image unless @link_list.image.blank? %></div>
  <div class="title"><span class="md-label">Title:</span> <%= @title %></div>
  <div class="author"><span class="md-label">Author<%= @authors.length > 1 ? "s" : '' %>:</span>
    <% case @authors.length %>
    <% when 1 %>
      <%= @authors.first %>
    <% when 0 %>
      No author listed.
    <% else %>
      <ul>
        <% @authors.each do |a| %>
          <li><%= a %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  </div>
  <div class="publication">
    <span class="md-label">Publication:</span>
    <% case @publication.length %>
    <% when 1 %>
      <%= @publication.first %>
      <% when 0 %>
      No publication information listed.
    <% else %>
      <ul>
        <% @publication.each do |p| %>
          <li><%= p %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

<div class="comment">
  <%== @link_list.comment.split(/\n/).map { |line| '<div>' << line << '</div>' }.join("\n") %>
</div>


<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>


<div class="url">
  <a class="ll url btn btn-success" href="<%= @link_list.url %>">Record Link</a>
</div>

<% unless @link_list.fts_search_url.blank? %>
  <div class="search-box">
    <form class="formtastic" id="fts" action="<%= @link_list.fts_search_url.sub(/S=[^&]+/, '') %>" method='GET'>
      <p>Full Text Search</p>
      <div class="input-group">
        <input name="S" type="hidden" value="<%== @link_list.fts_search_url.match(/(?<=S=)[^&]+/i).to_s %>" />
        <input name="Q" class="form-control" type="text" placeholder="Enter search terms here" />
        <span class="input-group-btn">
          <%= submit_tag 'Search', :class => 'btn btn-primary', :name => nil %>
        </span>
      </div>
      <% if @link_list.dateable? %>
        <div class="input-group date-qualified">
          <div><label for="D_N">Disable:</label>&nbsp;<%= radio_button_tag 'D', 'N', true %></div>
          <div><label for="D_Y">Loose (Return Undated):</label>&nbsp;<%= radio_button_tag 'D', 'Y', false %></div>
          <div><label for="D_S">Strict (No Undated Results):</label>&nbsp;<%= radio_button_tag 'D', 'S', false %></div>
        </div>
        <div class="input-group date-range">
          <label for="L">From:</label>&nbsp;<input name="L" placeholder="YYYY(/MM(/DD))" />
          <label for="U">To:</label>&nbsp;<input name="U" placeholder="YYYY(/MM(/DD))" />
        </div>
      <% end %>
    </form>
  </div>
<% end %>

<%# Anchor pointing at this! %>
<%# NOTE: Maybe present as single list, no table, link directly from label. %>
<table style="border: 1px solid #ddd" class="table table-striped">
  <thead>
    <tr><th>Label</th> <th>Link</th></tr>
  </thead>
  <tbody>
    <% @link_list.links.each do |link| %>
      <tr>
        <td class="name"><%= link.name %></td> <td class="url"><a href="<%= link.url %>" target="_new"><%= link.url %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>
