<% if @link_list.cached_metadata %>
  <div class="metadata">
    <div class="title"><span class="md-label">Title:</span> <%= @title %></div>
    <div class="author"><span class="md-label">Author<%= @author.length > 1 ? "s" : '' %>:</span>
      <% case @author.length %>
      <% when 1 %>
        <%= @author.first %>
      <% when 0 %>
        No author listed.
      <% else %>
        <ul>
          <% @author.each do |a| %>
            <li><%= a %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>

<div class="comment">
  <%== @link_list.comment.split(/\n/).map { |line| '<div>' << line << '</div>' }.join("\n") %>
</div>

<% unless @link_list.fts_search_url.blank? %>
  <div class="search-box">
    <form class="formtastic" id="fts" action="<%= @link_list.fts_search_url %>" method='GET'>
      <p>Full Text Search</p>
      <div class="input-group">
        <input name="Q" class="form-control" type="text" placeholder="Enter search terms here" />
        <span class="input-group-btn">
          <%= submit_tag 'Search', :class => 'btn btn-primary', :name => nil %>
        </span>
      </div>
    </form>
  </div>
<% end %>

<div class="url">
  <a class="ll url" href="<%= @link_list.url %>">Record Link</a>
</div>
<%# Anchor pointing at this! %>
<%# NOTE: Maybe present as single list, no table, link directly from label. %>
<table style="border: 1px solid #ddd" class="table table-striped">
  <thead>
    <tr><th>Label</th> <th>Link</th></tr>
  </thead>
  <tbody>
    <% @link_list.links.each do |link| %>
      <tr>
        <td class="name"><%= link.name %></td> <td class="url"><a href="<%= link.url %>"><%= link.url %></a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>

<div>
  <pre>
<%= @link_list.cached_metadata || "No metadata available" %>
  </pre>
</div>

<%= link_to "Delete this record", link_list_path(@link_list), :method => :delete, :class => 'btn btn-danger' %>
