<% if @record %>
  <div class="comment">
<%== @record.comment.split(/\n/).map { |line| '<div><b>' + line.sub(/:/, ':</b>') + '</div>' }.join("\n") %>
  </div>
  <div class="url">
    <a class="ll url" href="<%= @record.url %>">Record Link</a>
  </div>
  <table style="border: 1px solid #ddd" class="table table-striped">
    <thead>
      <tr><th>Label</th> <th>Link</th></tr>
    </thead>
    <tbody>
      <% @record.links.each do |link| %>
        <tr>
          <td class="name"><%= link.name %></td> <td class="url"><a href="<%= link.url %>"><%= link.url %></a></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div>
    <pre>
<%= @record.cached_metadata %>
    </pre>
  </div>
<% else %>
  <ul>
    <% Dir.glob('public/spreadsheets/*.xlsx').each do |xlsx| %>
      <li><a href="<%= xlsx.match(/\d{8,}/)[0] %>"><%= xlsx %></a></li>
    <% end %>
  </ul>
<% end %>
