<% content_for :subhead, @title || [:ext_id_type, :ext_id].map {|m| @link_list.send(m).upcase }.join(" ") %>
<% if current_user && @link_list.ext_id_type == "hollis" %>
  <ul class="controls">
    <li>
      <%= link_to link_list_path(@link_list, :format => 'csv'), :title => 'CSV Download', :class => 'btn btn-info' do %>
        Download CSV <%= glyphicon 'file' %></span>
      <% end %>
    </li>
    <li>
      <%= link_to edit_link_list_path(@link_list), :class => 'btn btn-primary' do %>
        Edit this record <%= glyphicon'pencil' %>
      <% end %>
    </li>
    <li><%= link_to "Delete this record", link_list_path(@link_list),
              :method => :delete,
              :data => {:confirm => "Are you sure you want to delete \"#{@title}\"?"},
              :class => 'btn btn-danger' %></li>
  </ul>
<% end %>
<div class="metadata">
  <div class="image"><%= image_tag @link_list.image unless @link_list.image.blank? %></div>
  <div class="title"><span class="md-label">Title:</span> <%= @title %></div>
  <% unless @authors.blank? %>
    <div class="author"><span class="md-label">Author<%= @authors.length > 1 ? "s" : '' %>:</span>
      <% case @authors.length %>
      <% when 1 %>
        <%= @authors.first %>
      <% else %>
        <ul>
          <% @authors.each do |a| %>
            <li><%= a %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>

  <% unless @publication.blank? %>
    <div class="publication">
      <span class="md-label">Publication:</span>
      <% case @publication.length %>
      <% when 1 %>
        <%= @publication.first %>
      <% else %>
        <ul>
          <% @publication.each do |p| %>
            <li><%= p %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  <% end %>
</div>

<% unless @link_list.comment.blank? %>
  <div class="comment">
    <%== @link_list.comment.split(/\n/).map { |line| '<div>' << line << '</div>' }.join("\n") %>
  </div>
<% end %>


<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>


<div class="url">
  <a class="ll url btn btn-success" target="_blank" href="<%= @link_list.url %>">Record Link</a>
</div>

<div class="urllist">
	<% unless @link_list.fts_search_url.blank? %>
	  <span id="fts-icon" class="glyphicon glyphicon-search link-icon" aria-hidden="true"></span><%= link_to "Full Text Search", '#fts-button', :class => 'fts-link' %>
	<% end %>

<% if @link_list.ext_id_type == 'drs' %>
  <a class="ll url cite" href="#" id="cite"><span id="cite-icon" class="link-icon" aria-hidden="true"></span>Cite</a>
  <a class="ll url relatedlinks" id="relatedlinks" href="#no-op"><span id="rl-icon" class="link-icon" aria-hidden="true"></span>Related Links</a>
<% end %>
  <a class="ll url share" href="#"><span id="share-icon" class="link-icon" aria-hidden="true"></span>Share</a>
  <a class="ll url" href="https://wiki.harvard.edu/confluence/display/LibraryStaffDoc/ListView" target="_blank"><span id="help-icon" class="link-icon" aria-hidden="true"></span>Help</a>
</div>

<a id="#links"></a>
<table style="border: 1px solid #ddd" class="table table-striped">
  <thead>
    <tr><th>Links</th></tr>
  </thead>
  <tbody>
    <% @link_list.links.each do |link| %>
      <tr>
        <td><%= link_to link.name, link.url, :target => '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless @link_list.continues_url.blank? %>
  <div class="continues">
    <b>Continues:</b> <%= link_to @link_list.continues_name, @link_list.continues_url %>
  </div>
<% end %>

<% unless @link_list.continued_by_url.blank? %>
  <div class="continued_by">
    <b>Continued By:</b> <%= link_to @link_list.continued_by_name, @link_list.continued_by_url %>
  </div>
<% end %>

<%= render :partial => 'modal_search' %>
<%= render :partial => 'modal_dialogs' %>
