<%# NOTE: Comment should be shrunk.  Fields should show if changes present. %>
<%= semantic_form_for @link_list do |f| %>
  <%= f.inputs do %>
    <%= f.input :ext_id %>
    <%= f.input :ext_id_type %>
    <%= f.input :url %>
    <%= f.input :continues_name %>
    <%= f.input :continues_url %>
    <%= f.input :continued_by_name %>
    <%= f.input :continued_by_url %>
    <%= f.input :fts_search_url %>
    <%= f.input :comment %>
    <h3>Links</h3>
    <div id="links">
      <%= f.semantic_fields_for :links do |lf| %>
        <%= render 'link_fields', :f => lf %>
      <% end %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.submit :class => "btn btn-primary" %>
    <div class="links">
      <%= link_to_add_association "Add a link", f, :links, :class => "btn btn-success add-link", :data => {'association-insertion-node' => '#links', 'association-insertion-method' => 'append'}  %>
    </div>
  <% end %>
<% end %>
