<%# NOTE: Comment should be shrunk.  Fields should show if changes present. %>
<%= semantic_form_for @link_list do |f| %>
  <%= f.inputs do %>

    <%= f.input :ext_id_type, :required => true,
      :as => :select,
      :collection => MetadataSources.keys,
      :include_blank => false,
      :label => 'External ID Type',
      :hint => 'The type or source of the bibliographic record describing this resource.'
    %>

    <%= f.input :ext_id, :required => true,
      :label => 'External ID',
      :hint => 'ID of the bibliographic record describing this resource.'
    %>

    <%= f.input :url,
      :label => 'URL',
      :hint => 'The URL of the bibliographic record pointing at this resource.'
    %>

    <%= f.input :title, :as => :string,
      :hint => 'Title of the resource.'
    %>

    <%= f.input :author,
      :input_html => {:rows => 3},
      :hint => 'Author/Creator statement.'
    %>

    <%= f.input :publication, :as => :text,
      :input_html => {:rows => 3},
      :hint => 'Publication statement, suggested format is "{Place} : {Publisher}, {Date}", with multiple publishers each on their own line.' %>

    <%= f.input :comment,
      :label => 'Curator Comment Field',
      :input_html => {:rows => 5},
      :hint => 'Free text field for additional curator-supplied description'
    %>

    <hr/>

    <%= f.input :continues_name,
      :label => 'Continues (Name)',
      :hint => 'Name of series this resource continues.'
    %>

    <%= f.input :continues_url,
      :label => 'Continues (URL)',
      :hint => 'URL of series this resource continues.'
    %>

    <hr/>

    <%= f.input :continued_by_name,
      :label => 'Continued by (Name)',
      :hint => 'Name of series this resource is continued by.'
    %>

    <%= f.input :continued_by_url,
      :label => 'Continued by (URL)',
      :hint => 'URL of series this resource is continued by.'
    %>

    <hr/>

    <%= f.input :fts_search_url,
      :label => 'Search URL',
      :hint => 'URL for full text search form.'
    %>

    <%= f.input :dateable,
      :label => 'Date qualified?',
      :hint => 'Should date range support be provided by the search box?'
    %>

    <hr/>

    <h3>Links</h3>
    <div id="links">
      <%= f.semantic_fields_for :links do |lf| %>
        <%= render 'link_fields', :f => lf %>
      <% end %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.submit :class => "btn btn-primary" %>
    <%= link_to "Cancel", :back, :class => "btn btn-danger cancel" %>
    <%= link_to "Retrieve Metadata", '#no-op', :class => 'btn btn-info meta' %>
    <div class="links">
      <%= link_to_add_association "Add a link", f, :links, :class => "btn btn-success add-link", :data => {'association-insertion-node' => '#links', 'association-insertion-method' => 'append'}  %>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'modal', :locals => {:title => 'Metadata', :fields => %w|Title Author Publication|} %>
