<% content_for :subhead, 'Admins' %>
<%# Buttonize, put pencil glyph on edit, x on delete? %>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>User</th>
      <th>Controls</th>
    </tr>
    <% @users.each do |u| %>
      <tr><td><%= link_to (u.username || u.email), u %></td>
        <td><%= link_to edit_user_path(u),
                        :class => 'btn btn-info btn-xs',
                        :title => 'Edit User' do %>
          Edit <%= glyphicon 'pencil' %>
            <% end %>
            <%= link_to u,
                        :method => :delete,
                        :class => 'btn btn-danger btn-xs' do %>
            Delete <%= glyphicon 'trash' %>
            <% end %>
        </td></tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add User', new_user_path, :class => 'btn btn-primary' %>
