<h2><%= @user.username || @user.email %></h2>
<div><span class="user-label">Username:</span> <%= @user.username || 'none' %></div>
<div><span class="user-label">Email:</span> <%= @user.email %></div>
<div><span class="user-label">Affiliation:</span> <%= @user.affiliation %></div>
<% if @user == current_user %>
  <%= link_to "Edit", edit_user_path(@user), :class => 'btn btn-primary' %>
<% end %>
