<h2><%= @user.username || @user.email %></h2>
<div><span class="user-label">Username:</span> <%= @user.username || 'none' %></div>
<div><span class="user-label">Email:</span> <%= @user.email %></div>
<div><span class="user-label">Affiliation:</span> <%= @user.affiliation %></div>
<% if @user == current_user %>
  <%= link_to edit_user_path(@user), :class => 'btn btn-primary' do %>
    Edit <%= glyphicon 'pencil' %>
  <% end %>
<% end %>
<h3>User Activity</h3>
<p class="help-block">A list of the actions taken by this user, from most recent to most antique.</p>
<table class="table table-striped">
  <tbody>
    <tr>
      <th>Record</th>
      <th>Action taken</th>
      <th>Date/Time</th>
    </tr>
    <% @actions.each do |a| %>
      <tr>
        <td><%= a[0..1].join(':') %></td>
        <td><%= a[2] %></td>
        <td><%= a[3].in_time_zone(Rails.configuration.time_zone).strftime("%Y-%m-%d %I:%M %P") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
