<!DOCTYPE html>
<html>
<head>
  <title>HollisLinksNg</title>
  <link type="image/vnd.microsoft.icon" href="http://guidelines.hwp.harvard.edu/profiles/openscholar/themes/hwpi_classic/favicon.ico" rel="shortcut icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container-fluid">
  <div class="page-header">
    <h1><%= link_to "HollisLinks NG", "/" %></h1>
  </div>
  <div id="content">
    <%= render :partial => 'shared/messages' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
