<!DOCTYPE html>
<html>
<head>
  <title>HollisLinks</title>
  <link type="image/vnd.microsoft.icon" href="http://guidelines.hwp.harvard.edu/profiles/openscholar/themes/hwpi_classic/favicon.ico" rel="shortcut icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= "c_#{controller.controller_name} a_#{controller.action_name}" %>">
<div class="container-fluid">
  <div class="page-header">
    <h1><%= link_to "HollisLinks", "/", :class => 'title' %><%== " " << link_to("Sign Out", destroy_user_session_path, :method => :delete, :class => 'sign-out') if current_user %></h1>

  </div>
  <div id="content">
    <%= render :partial => 'shared/messages' %>
    <%= yield %>
  </div>
</div>

</body>
</html>
